<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <meta name="robots" content="noindex, nofollow">
  <title><%= content_for?(:page_title) ? yield(:page_title) : "#{admin_theme_application.application_name} Login" %></title>
  <%= stylesheet_link_tag    "admin_theme", :media => "all" %>
  <%= javascript_include_tag "admin_theme" %>
  <%= csrf_meta_tags %>
</head>

<body class="logged_out <%= controller.controller_name %>_controller <%= controller.action_name %>_action">
  <div id="wrapper">
    <div id="content_wrapper">
<% unless flash.empty? -%>
<%   flash.each do |type, message| -%>
      <div class="flash flash_<%= type %>"><%= message %></div>
<%   end -%>
<% end -%>
      <div id="active_admin_content">
        <div id="login">
          <h2><%= admin_theme_application.application_name %> Login</h2>
          <%= yield %>
        </div>
      </div>
    </div>
    <div id="footer"><%= content_for?(:footer) ? yield(:footer) : raw(admin_theme_application.footer) %></div>
  </div>
</body>
</html>
