<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="robots" content="noindex, nofollow">
  <title><%= content_for?(:page_title) ? yield(:page_title) : admin_theme_application.application_name %></title>
  <%= stylesheet_link_tag    "admin_theme", :media => "all" %>
  <%= javascript_include_tag "admin_theme" %>
  <%= csrf_meta_tags %>
</head>

<body class="logged_in <%= controller.controller_name %>_controller <%= controller.action_name %>_action">
  <div id="wrapper">
    <div id="header">
      <h1 id="site_title"><%= admin_theme_application.application_name %></h1>
      <%= navigation_builder(content_for?(:navigation_array) ? yield(:navigation_array) : admin_theme_application.navigation_array) %>
      <%= utility_nav %>
    </div>
    <div id="title_bar">
<% if content_for?(:breadcrumbs) -%>
      <div id="titlebar_left">
        <%= yield(:breadcrumbs) %>
      </div>
<% end -%>
<% if content_for?(:actions) -%>
      <div id="titlebar_right">
        <%= yield(:actions) %>
      </div>
<% end -%>
    </div>
<% unless flash.empty? -%>
    <div class="flashes">
<%   flash.each do |type, message| -%>
      <div class="flash flash_<%= type %>"><%= message %></div>
<%   end -%>
    </div>
<% end -%>
    <div id="active_admin_content" class="with<%= 'out' unless content_for?(:sidebar) %>_sidebar">
      <div id="main_content_wrapper">
        <div id="main_content">
<% if content_for?(:scopes) -%>
          <%= yield(:scopes) %>
<% end -%>
          <%= yield %>
        </div>
      </div>
<% if content_for?(:sidebar) -%>
      <div id="sidebar">
        <%= yield(:sidebar) %>
      </div>
<% end -%>
    </div>
    <div id="footer"><%= content_for?(:footer) ? yield(:footer) : raw(admin_theme_application.footer) %></div>
  </div>
</body>
</html>
